.container5-0 {
  background-color: #090909;
  display: flex;
  justify-content: center;
}

.container5 {
  background-color: #090909;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  width: 1230px;
}

.container5-1,
.container5-2 {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container5.visible .container5-1,
.container5.visible .container5-2 {
  opacity: 1;
  transform: translateY(0);
}

.container5-1 {
  width: 1230px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.container5-1 hr {
  width: 150px;
  height: 5px;
  background-color: #00b7ff;
  border: none;
}

.container5-1 h1 {
  color: #00b7ff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 5px;
  text-transform: uppercase;
}

.container5-2 {
  width: 1230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  color: #999999;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: black;
  font-family: "Roboto", sans-serif;
}

.form-group textarea {
  resize: none;
  height: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #00b7ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  color: #00b7ff;
  background-color: #fff;
  border: 1px solid #00b7ff;
}

button:active {
  transform: scale(0.95);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkmark {
  font-size: 30px;
  color: green;
  background-color: #e0ffe0;
  border-radius: 50%;
  padding: 10px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #00b7ff;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: progress 10s linear forwards;
}

.progress-bar.timeout {
  background-color: red;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.timeout-message-container {
  margin-top: 10px;
}

.timeout-message {
  color: red;
}

.contact-message {
  margin-top: 10px;
}

.linkedin-link {
  display: inline-block;
  margin-left: 5px;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 100px;
}


.social-icons img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons img:active {
  transform: scale(0.9) rotate(-5deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1400px) {
.container5-2 {
 
  width: 100%;
}

}

@media (max-width: 1350px) {
.container5-2 {
 
  width: 100%;
}
.container5.visible {
  width: 80%;
}

.container5-1 {
  width: 100%;
}
}


@media (max-width: 800px) {
.container5-1 h1 {
  font-size: 32px;
}

.container5-1 hr {
  width: 120px;
  height: 3.5px;

}

}