.about {
  height: auto; 
  background-color: #111111;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1230px;
  height: auto; 
}

.about-me hr,
.about-me h1,
.about-me p {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-me.animate hr,
.about-me.animate h1,
.about-me.animate p {
  opacity: 1;
  transform: translateX(0);
}

.about-me hr {
  width: 60px;
  height: 5px;
  background-color: #00b7ff;
  border: none;
}

.about-me h1 {
  color: #00b7ff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 5px;
  text-transform: uppercase;
}

.about-me p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 800px;
}

.cv {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.resume {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px; /* Adjust padding for smaller screens */
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #00b7ff;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transform: translateX(20vw); /* Start from outside the right edge of the viewport */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.resume.animate {
  opacity: 1;
  transform: translateX(0);
}

.resume:hover {
  background-color: #fff;
  color: #00b7ff;
}

.resume svg {
  margin-right: 5px;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .about-me h1 {
    font-size: 32px; 
  }
  .about-me hr {

  height: 3.5px;

}

  .about-me p {
    font-size: 14px; 
    line-height: 20px; 
  }

  .resume {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .about-me h1 {
    font-size: 28px; 
  }

  .about-me p {
    font-size: 12px; 
    line-height: 18px;
  }

  .resume {
    padding: 8px 16px; 
    font-size: 10px; 
  }
}
