.container4-0 {
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.container4 {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  max-width: 1230px;
}

.container4 h3 {
  color: #00b7ff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 50px;
}

.container4 hr {
  width: 130px;
  height: 5px;
  background-color: #00b7ff;
  border: none;
  margin-top: 10px;
}

.container4-1 {
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.container4-1-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #111111;
  width: 100%;
  max-width: 1230px;
}

.video-card {
  width: 100%;
  max-width: 388px;
  height: 252px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.video-card .video-front,
.video-card .video-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.video-card .video-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-card .video-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  transform: rotateY(180deg);
  padding: 20px;
  box-sizing: border-box;
  gap: 40px;
}

.video-card .video-back h2 {
  color: #00b7ff;
}

.video-card .video-back p {
  color: #fff;
}

.video-card .video-back a {
  color: #fff;
  margin: 5px;
  text-decoration: none;
  border: 1px solid #00b7ff;
  background-color: #00b7ff;
  padding: 10px 30px;
}

.video-card .video-back a:hover {
  background-color: #fff;
  border: none;
  color: #00b7ff;
}

.video-card .video-back .links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.video-card.flipped .video-front {
  transform: rotateY(180deg);
}

.video-card.flipped .video-back {
  transform: rotateY(0deg);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container4-2-0 {
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.container4-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #111111;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1230px;
}

.container4-2 a {
  margin-top: 20px;
  text-decoration: none;
  color: #00b7ff;
  border: 1px solid #00b7ff;
  padding: 18px 25px;
  font-size: 18px;
  display: flex;
  align-items: center;
  transform: scale(0);
  animation: zoom-in 1s ease-out forwards;
  animation-play-state: paused;
}

.container4-2 a svg {
  margin-left: 10px;
}

.container4-2 a:hover {
  color: #fff;
  background-color: #00b7ff;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container4-2 a.visible {
  animation-play-state: running;
}

/* Media Queries for smaller screens */

@media (max-width: 850px){

  .video-card {
    width: 100%; 
    max-width: 350px;
  }

}


@media (max-width: 810px) {
  .container4 h3 {
    font-size: 32px; 
  }

.container4 hr {
  width: 100px;
  height: 4px;

}
  .video-card {
    width: 100%; 
    max-width: 300px;
  }

  .container4-2 a {
    font-size: 16px; 
    padding: 15px 20px;
  }
}

@media (max-width: 700px) {
  .video-card {
    width: 100%; 
    max-width: 450px;
  }

}

@media (max-width: 480px) {
  .container4 h3 {
    font-size: 28px; 
  }

  .container4 hr {
    width: 80px; 
  }

  .video-card {
    width: 100%;
    max-width: 250px; 
  }

  .container4-2 a {
    font-size: 14px; 
    padding: 12px 15px;
  }
}
