.skills-container {
  display: flex;
  justify-content: center;
  background-color: #191919;
}

.skills-container-1 {
  background-color: #191919;
  height: 290px;
  max-width: 1230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills hr {
  width: 30px;
  height: 5px;
  background-color: #00b7ff;
  border: none;
}

.skills h1 {
  color: #fff;
}

.icons {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  position: relative;
  justify-content: center;
}

.icon {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin: 0 10px;
  perspective: 100px;
  cursor: pointer;
}

.icon-inner {
  width: 120%;
  height: 120%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.icon.flipped .icon-inner {
  transform: rotateY(180deg);
}

.icon-front,
.icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-back {
  transform: rotateY(180deg);
  color: white;
}

.icon img {
  max-width: 100%;
  max-height: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .skills-container-1 {
    max-width: 100%;
  }
.icon {
  width: 110px;
  height: 110px;
}

}

@media (max-width: 1024px) {
  .icon {
    width: 100px;
    height: 100px;
  }

  .icon-inner {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .skills-container-1 {
    height: auto;
    padding: 20px;
  }

  .icon {
    width: 90px;
    height: 90px;
  }

  .icon-inner {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 700px) {
   .icon-inner {
    width: 80%;
    height: 80%;
  }
} 

@media (max-width: 600px) {
   .icon-inner {
    width: 75%;
    height: 75%;
  }

    .icon {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }
} 

@media (max-width: 480px) {
  .icon {
    width: 55px;
    height: 55px;
  }

  .icon-inner {
    width: 65%;
    height: 65%;
  }
}
