.footer0 {
    display: flex;
    justify-content: center;
    background-color: #030303;
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #030303;
    border-top: 1px solid #99999961;
}

.footer p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    height: 20px;
}

.footer a {
    display: flex;
    flex-direction: row;  
}


