.header-background {
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.header-background.hidden {
  transform: translateY(-100%); /* Hide the entire background by moving it up */
}

header {
  background-color: black;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1230px;
  cursor: pointer;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

nav {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

nav a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.085em;
}

nav a:hover {
  color: #00b7ff;
}
