
header {
  background-color: black;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
}

header.hidden {
  top: -90px; /* Adjust this value based on your header height */
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

nav {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

nav a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.085em;
}

nav a:hover {
  color: #00b7ff;
}
